.reels-page {
    width: 100%;
    height: 100vh;

    background: #0b0e12;

    display: flex;
    justify-content: center;

    overflow: hidden;
}


/* =========================
   SCROLL CONTAINER
========================= */

.reel-video {
    height: 100vh;

    overflow-y: scroll;

    scroll-snap-type: y mandatory;

    scrollbar-width: none;
}

.reel-video::-webkit-scrollbar {
    display: none;
}


/* =========================
   ONE COMPLETE REEL ROW
========================= */

.reel {
    height: 100vh;

    display: flex;
    align-items: center;

    scroll-snap-align: start;
}


/* =========================
   LEFT INFO
========================= */

.reel-info {
    width: 300px;

    align-self: flex-end;

    margin-bottom: 35px;
    margin-right: 20px;

    color: white;
}

.user-info {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;
}

.profile-picture {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    background: #333;
}

.user-info strong {
    font-size: 14px;
}

.user-info span {
    color: #777;
}

.user-info button {
    border: none;
    background: none;

    color: #4da3ff;

    font-weight: 600;

    cursor: pointer;
}

.reel-info p {
    font-size: 14px;

    line-height: 1.4;

    margin: 0 0 10px;
}

.music {
    display: flex;
    align-items: center;

    gap: 8px;

    font-size: 13px;
}

.music i {
    font-size: 12px;
}


/* =========================
   VIDEO
========================= */

.video-container {
    position: relative;

    width: 420px;
    height: 685px;

    flex-shrink: 0;
}

.video {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 5px;

    display: block;

    cursor: pointer;

    background: #111;
}


/* =========================
   RIGHT ACTIONS
========================= */

.reel-actions {
    width: 70px;

    margin-left: 20px;
    margin-top: 150px;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 22px;
}

.action {
    display: flex;
    flex-direction: column;

    align-items: center;
    
    gap: 5px;

    color: white;

    cursor: pointer;
}

.action i {
    font-size: 25px;
    /* font-weight:00; */

    transition: transform 0.2s ease;
}

.action:hover i {
    transform: scale(1.1);
}

.action span {
    font-size: 12px;
}


/* =========================
   PROFILE
========================= */

.action-profile {
    margin-top: 5px;
}

.small-profile {
    width: 28px;
    height: 28px;

    border-radius: 50%;

    background: #333;

    border: 2px solid white;
}


/* =========================
   SOUND
========================= */

.sound-button {
    position: absolute;

    right: 15px;
    bottom: 15px;

    width: 32px;
    height: 32px;

    border: none;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.6);

    color: white;

    cursor: pointer;
}